pre {
	border-radius: 0;
}

code.hljs {
	padding: 3px 5px;
}

.hljs {
	background: #0d0d0d;
	color: #00ff41;
}

.hljs-comment,
.hljs-quote {
	color: #008f11;
	font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
	color: #00ff41;
	font-weight: bold;
}

.hljs-attribute,
.hljs-meta {
	color: #00cc33;
}

.hljs-class .hljs-title,
.hljs-title.class_,
.hljs-type,
.hljs-section,
.hljs-function .hljs-title {
	color: #e0f2f1;
}

.hljs-string,
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: #00cc33;
}

.hljs-bullet,
.hljs-code,
.hljs-addition,
.hljs-number,
.hljs-built_in,
.hljs-params {
	color: #00ff41;
}

.hljs-deletion {
	color: #ff3333;
	display: inline-block;
	width: 100%;
	background-color: rgba(255, 0, 0, 0.1);
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}
